#put the list of files or folder that need to be ignored by the git
#so that it does not get tracked
#e.g node_modules, different yaml if required

node_modules/

fioriHtmlRunner.html
.*/fioriHtmlRunner.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json